html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  background-repeat: no-repeat;
  box-sizing: inherit;
}
body {
  margin: 0 10rem 0 10rem;
  padding: 0;
}
nav {
  /* display: grid;
  grid-template-columns: repeat(2 1fr); */
  text-transform: uppercase;
  margin: 0;
  padding: 2rem;
  font-size: 1rem;
  font-weight: 550;
  /* margin-bottom: 1rem; */
}
nav > ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav > ul > li {
  display: inline;
  padding-left: 3rem;
}
li a {
  text-decoration: none;
  color: black;
}
header {
  height: 90vh;
}
.header-background {
  z-index: 1;
  height: 100%;
  background-image: url(./images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* blur */
  filter: blur(3px);
  -webkit-filter: blur(3px);
}
.header-text {
  color: black;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}
header > p {
  text-align: center;
}
/* About */
.about {
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 2rem;
  margin-top: 5rem;
}
.about-left {
}
.about-right > hr {
  margin-top: 0;
}
.about-right {
  margin-right: 6rem;
  line-height: 2rem;
}
.about-right > h1 {
  text-transform: capitalize;
}
/* Proficiency */
.proficiency {
  /* margin-top: 5rem; */
}
.proficiency-header {
  text-align: left;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.categories h3 {
  text-transform: capitalize;
  text-align: left;
}
.categories ul {
  list-style-type: disc;
  padding-left: 0;
}
.categories ul > li {
  display: block;
  padding: 1rem 0 1rem 0;
}
/* Contact */
.contact {
  height: 20vh;
}
.contact-header {
  font-size: 2rem;
  margin: 0;
}
.hr {
  border: 1px solid;
}
.contact-grid > button {
  margin-left: 1rem;
  float: right;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
/* Footer */
.socialmedia-icons > a {
  padding: 1rem;
  font-size: 1rem;
  color: black;
  float: right;
}
/* Utility */
button {
  border: black solid 1px;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85rem;
}
